body {
    background: black;
}

.container {
    max-width: 500px;
}

.slot {
    display: flex;
    flex-wrap: wrap;
    color: orange;
}

.reels {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
}

.reel {
    text-align: center;
    flex-grow: 1;
    background: #61826f;
    margin: 10px;
    font-size: 2rem;
    max-height: 60px;
    overflow: hidden;
}

.reel-holder {
    transition: all 1s linear 0s;
}

.reel-opt {
    width: 70px;
    height: 60px;
    background: url("slots-sprite.png");
    margin: auto;
}

.reel-opt-1 {
    background-position: -80px 0;
}
.reel-opt-2 {
    background-position: -160px 0;
}
.reel-opt-3 {
    background-position: -235px 0;
}
.reel-opt-4 {
    background-position: -305px 0;
}

.button {
    font-size: 3rem;
    text-align: center;
    flex-grow: 1;
    flex-basis: 100%;
    background: #8fa4ff;
    padding: 10px;
    margin: 10px;
}
